.App {
  text-align: center;
}
.container {
  border: orange 12px solid;
  border-radius: 0px 15px 0px 15px;
}
.product-table {
  border: green 11px solid;
  border-radius: 0px 15px 0px 15px;
}
.search-bar{
  border: blue 11px solid;
  border-radius: 0px 15px 0px 15px;
}
